* {
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	padding-top: 70px;
}

:root {
	--main-color: #045eef; /*blue*/
	--sub-color: #efe704; /*yellow*/
	--navbar-color: #343a40; /*dark grey*/
}

.main-wrapper {
	letter-spacing: 1.5px;
}

/*navbar*/
.brand_logo {
	height: 50px;
	width: 50px;
}

.navbar ul >  li{
	color: white;
	padding: 5px;
}

/*home*/
#home_page	 {
	background-image: url('bg1.png');
	background-size: cover;
	min-height: 100vh;
}

.jumbotron {
	letter-spacing: 1.5px;
	border-bottom-right-radius: 35%; 
	border-bottom-left-radius: 35%; 
}

.jumbotron h1 {
	text-align: center;
}

#user_img {
	border-radius: 50%;
	border: 2px dotted black;
	height: 250px;
	width:250px;
}

.home-left-container{
	text-align: center;
}

/*skills*/
#skills_page {
	min-height: 100vh;
	background-color: white;
	text-align: center;
}

#skills_page h1 {
	text-align: center;
}

#skills_page h3 {
	font-size: 2rem;
	font-weight: bolder;
	text-decoration:underline;
}
.skills_img {
	height: 110px;
	width: 110px;
}

.skills_list {
	list-style: none;
	padding: 10px 10px 30px 10px;
}

.skills_list li {
	text-align: left;
	border-bottom: 1px solid var(--sub-color);
}

.skill_name {
	font-size: 1.5rem;
	color: var(--main-color);
	margin-left: 20px;
}

/*for flipping*/
#flip_container {
	position: relative;
	margin: 20px auto;
	width: 280px;
	height: 150px;
	z-index: 1;
	perspective: 1000;
}

#flip_card {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all .4s linear;
	border-radius: 10px;
}

#flip_container:hover #flip_card {
	transform: rotateY(180deg);
  	box-shadow: -5px 5px 5px #aaa;
}

.face {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.face.back {
	display: block;
	transform: rotateY(180deg);
	box-sizing: border-box;
	padding: 10px;
	color: white;
	text-align: center;
	border-radius: 10px;
	background-color: var(--navbar-color);
}

/*progress bar*/
.progressBar {
	position: relative;
	width: 100%;
	height: 40px;
	background: #eeeeee;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0 1px 2px #222;
}

.prog_title {
	position: absolute;
	width: 100px;
	height: 40px;
	padding-left: 10px;
	float: left;
	font-weight: bold;
	color: #fff;
	line-height: 2.5;
	z-index: 10000;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 2px 0 2px #333;
	text-shadow: 1px 1px 1px #000;
}

.progress_value {
	position: relative;
	float: right;
	padding-right: 10px;
	line-height: 2.5;
	font-weight: bold;
	color: #455a64;
	z-index: 10000;
}

.progress {
	height: 40px;
	position: absolute;
	border-radius: 5px;
	box-shadow: 2px 0 2px #555;
}

.htmlColor {
	background-color: #b71c1c;
}

.cssColor {
	background-color: #4a148c;
}

.jsColor {
	background-color: #1a237e;
}

.jqueryColor {
	background-color: #0ae0e0;
}

.phpColor {
	background-color: #1b5e20;
}

.mysqlColor {
	background-color: crimson;
}

.nodeColor {
	background-color: yellow;
}

.mongoColor {
	background-color: orange;
}

.laravelColor {
	background-color: blue;
}

.expressColor {
	background-color: green;
}

.bootstrapColor {
	background-color: #ffca28;
}

.gitColor {
	background-color: #085ea5;
}

.html {
	background-color: #ec407a;
}

.css {
	background-color: #ab47bc;
}

.js {
	background-color: #5c6bc0;
}

.jquery {
	background-color: #0ae0e0;
}

.php{
	background-color: #66bb6a;
}

.mysql {
	background-color: #e68d8d;
}

.node {
	background-color: #b9b90c;
}

.mongo {
	background-color: #ffc253;
}

.laravel {
	background-color: #6a6aec;
}

.express {
	background-color: #17b317;
}

.bootstrap {
	background-color: #f5d77b;
}

.git {
	background-color: #329cf3;
}


/*catalog page*/
#catalog_page {
	min-height: 100vh;
	/*background-color: green;*/
	text-align: center;
}

#catalog_page h1 {
	letter-spacing: 1.5px;
}

#catalog_page h3 {
	margin-top: 15px;
}

#catalog_page h3:hover {
	color: white;
	text-decoration: underline;
	transform: scale(1.1);
	transition: transform .2s;
}

#catalog_page a {
	color: black;
}

.card-header {
	background-color: var(--sub-color);
}

.card {
	height: 520px;
}

.card-text {
	text-align: justify;
	text-justify: inter-word;
}

#catalog_page img:hover {
	transform: scale(1.01);
	transition: transform .5s;
}	

#catalog_page .btn-primary {
	background-color: var(--sub-color);
	position: absolute;
	bottom: 30px;
	right: 100px;
}

#contact_page {
	min-height: 100vh;
	background-color: red;
}


/*footer*/
.home-footer {
    background-color: rgb(43,45,49);
    color: white;
}

.footer-wrapper {
    height: auto;
    color: white;
}

.copyright{
    padding-top: 6px;
}

.social-media > ul > li {
    list-style: none;
    float:left;
    margin-right: 10px;
    font-size: 1.5rem;
    padding-top: 3px;
}

.social-media small {
	margin-left: 15%;
	font-size: 1.1rem;
}

.social-media > ul > li > a {
    color:white;
    text-decoration: none;
}

.social-media > ul > li:hover {
    transform: scale(1.1);
    transition: transform .4s ;
}

.fab:hover,
.fas:hover {
	color: crimson;
}

/*media queries*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	.jumbotron {
		border-bottom-right-radius: 100px;
    	border-bottom-left-radius: 100px;
	}

	.social-media {
		float:none !important;
		margin: 0 25% 5px;
	}
	
	.social-media small {
		margin-left: 15%;
		font-size: 1.1rem;
	}

	.social-media > ul > li {
		font-size: 1.3rem;
	}

	.copyright {
    	padding-top: 6px;
    	text-align: center;
	}

	#catalog_page .btn-primary {
		right: 90px;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	.jumbotron {
		border-bottom-right-radius: 100px;
    	border-bottom-left-radius: 100px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }