* {
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Raleway', sans-serif;
	padding-top: 70px;
}

:root {
	--main-color: #045eef; /*blue*/
	--sub-color: #efe704; /*yellow*/
}
	;

.main-wrapper {
	letter-spacing: 1.5px;
}

/*navbar*/
.brand_logo {
	height: 50px;
	width: 50px;
}

.navbar ul >  li{
	color: white;
	padding: 5px;
}

/*home*/
#home_page	 {
	background-image: url('bg1.png');
	background-size: cover;
	min-height: 100vh;
}

.jumbotron {
	letter-spacing: 1.5px;
	border-bottom-right-radius: 35%; 
	border-bottom-left-radius: 35%; 
}

.jumbotron h1 {
	text-align: center;
}

#user_img {
	border-radius: 50%;
	border: 2px dotted black;
	height: 250px;
	width:250px;
}

.home-left-container{
	text-align: center;
}

/*skills*/
#skills_page {
	min-height: 100vh;
	background-color: white;
	text-align: center;
}

#skills_page h1 {
	text-align: center;
}

#skills_page h3 {
	font-size: 2rem;
	font-weight: bolder;
	text-decoration:underline;
}
.skills_img {
	height: 110px;
	width: 110px;
}

.skills_list {
	list-style: none;
	padding: 10px;
}

.skills_list li {
	text-align: left;
	border-bottom: 1px solid var(--sub-color);
}

.skill_name {
	font-size: 1.7rem;
	color: var(--main-color);
	margin-left: 20px;

}


/*catalog page*/
#catalog_page {
	min-height: 100vh;
	/*background-color: green;*/
	text-align: center;
}

#catalog_page h1 {
	letter-spacing: 1.5px;
}

#catalog_page h3 {
	margin-top: 15px;
}

#catalog_page h3:hover {
	color: white;
	text-decoration: underline;
	transform: scale(1.1);
	transition: transform .2s;
}

#catalog_page a {
	color: black;
}

.card-header {
	background-color: var(--sub-color);
}

.card {
	height: 550px;
}

#catalog_page img:hover {
	transform: scale(1.01);
	transition: transform .5s;
}	

#catalog_page .btn-primary {
	background-color: var(--sub-color);
	position: absolute;
	bottom: 30px;
	right: 115px;
}

#contact_page {
	min-height: 100vh;
	background-color: red;
}


/*footer*/
.home-footer {
    background-color: rgb(43,45,49);
    color: white;
}

.footer-wrapper {
    height: auto;
    color: white;
}

.copyright{
    padding-top: 6px;
}

.social-media > ul > li {
    list-style: none;
    float:left;
    margin-right: 10px;
    font-size: 1.5rem;
    padding-top: 3px;
}

.social-media small {
	margin-left: 15%;
	font-size: 1.1rem;
}

.social-media > ul > li > a {
    color:white;
    text-decoration: none;
}

.social-media > ul > li:hover {
    transform: scale(1.1);
    transition: transform .4s ;
}

.fab:hover,
.fas:hover {
	color: crimson;
}

/*media queries*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	.jumbotron {
		border-bottom-right-radius: 100px;
    	border-bottom-left-radius: 100px;
	}

	.social-media {
		float:none !important;
		margin: 0 25% 5px;
	}
	
	.social-media small {
		margin-left: 15%;
		font-size: 1.1rem;
	}

	.social-media > ul > li {
		font-size: 1.5rem;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	.jumbotron {
		border-bottom-right-radius: 100px;
    	border-bottom-left-radius: 100px;
	}
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { ... }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { ... }